<footer>
		<div class="icons">
				<a href="mailto:rachel.melo@live.com" target="_blank" title="E-Mail">
						<span class="fa-stack fa-lg">
							<i class="fa fa-circle fa-stack-2x fa-inverse" aria-hidden="true"></i>
							<i class="fa fa-envelope fa-stack-1x" aria-hidden="true"></i>
						</span>
				</a>
				<a href="https://www.linkedin.com/in/rachelmds" target="_blank" title="Linkein">
						<span class="fa-stack fa-lg">
							<i class="fa fa-circle fa-stack-2x fa-inverse" aria-hidden="true"></i>
							<i class="fa fa-linkedin fa-stack-1x" aria-hidden="true"></i>
						</span>
				</a>
				<a href="https://twitter.com/rachelmds" target="_blank" title="Twitter">
						<span class="fa-stack fa-lg">
							<i class="fa fa-circle fa-stack-2x fa-inverse" aria-hidden="true"></i>
							<i class="fa fa-twitter fa-stack-1x" aria-hidden="true"></i>
						</span>
				</a>
				<a href="https://instagram.com/rachelmds" target="_blank" title="Instagram">
						<span class="fa-stack fa-lg">
							<i class="fa fa-circle fa-stack-2x fa-inverse" aria-hidden="true"></i>
							<i class="fa fa-instagram fa-stack-1x" aria-hidden="true"></i>
						</span>
				</a>
		</div>
</footer>